<% if user_signed_in? %>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h2><%= yield :h2 %></h2>

      <%= form_for(@author) do |f| %>

        <div class="form-group">
          <%= f.label :first_name %>
          <%= f.text_field :first_name, class: "form-control", placeholder: "", required: true %>
        </div>

        <div class="form-group">
          <%= f.label :last_name %>
          <%= f.text_field :last_name, class: "form-control", placeholder: "", required: true %>
        </div>

        <div class="form-group">
          <%= f.submit (yield :submit), class: "btn btn-primary" %>
        </div>
      <% end %>

      <%= link_to I18n.t('author.link_to_index'), authors_path %>
    </div>
  </div>
<% end %>
