<div class="jumbotron">

  <h1>
    <%= I18n.t('index.welcome_h1') %>
  </h1>

  <p>
    <%= I18n.t('index.welcome_p') %>
  </p>

  <p>
    <%= link_to I18n.t('forms.links.sign_up'), new_user_registration_path, :class => "btn btn-primary btn-lg" %>
    <%= link_to I18n.t('forms.links.sign_in'), new_user_session_path, :class => "btn btn-primary btn-lg" %>
  </p>

</div>

<div class="row">

  <div class="col-md-4">

    <h3>
      <%= I18n.t('index.new_books') %>
    </h3>

    <ul class="nav nav-pills nav-stacked">
      <!-- "<li><a href=\"#\">#{b.book.name}<span class=\"badge\">#{b.author.first_name.first}. #{b.author.last_name}</a></li>" -->
      <li><a href="#">Потрясающий Бетонный Берет<span class="badge">D. Weimann</a></li><li><a href="#">Грубый Резиновый Ботинок<span class="badge">F. Mitchell</a></li><li><a href="#">Интеллектуальный Бетонный Кулон<span class="badge">B. Spencer</a></li><li><a href="#">Фантастический Гранитный Ремень<span class="badge">M. Schulist</a></li><li><a href="#">Потрясающий Стальной Стол<span class="badge">U. Robel</a></li><li><a href="#">Маленький Гранитный Компьютер<span class="badge">K. Ziemann</a></li><li><a href="#">Практчиный Гранитный Компьютер<span class="badge">G. Fisher</a></li><li><a href="#">Грубый Пластиковый Автомобиль<span class="badge">T. Zemlak</a></li><li><a href="#">Фантастический Резиновый Ремень<span class="badge">K. Lakin</a></li><li><a href="#">Потрясающий Пластиковый Компьютер<span class="badge">G. Hoppe</a></li>
    </ul>

  </div>

  <div class="col-md-4">

    <h3>
      <%= I18n.t('index.new_interests') %>
    </h3>

    <ul class="nav nav-pills nav-stacked">
      <!-- "<li><a href=\"#\">#{b.book.name}<span class=\"badge\">#{b.user.first_name.first}. #{b.user.last_name} @ #{b.finish_reading.time.to_formatted_s(:short)}</a></li>" -->
      <li><a href="#">Практчиный Гранитный Берет<span class="badge">T. Herman @ 23 Dec 02:25</a></li><li><a href="#">Невероятный Пластиковый Стул<span class="badge">K. Friesen @ 24 Dec 03:29</a></li><li><a href="#">Эргономичный Пластиковый Стул<span class="badge">T. Cartwright @ 24 Dec 18:39</a></li><li><a href="#">Эргономичный Хлопковый Стул<span class="badge">F. Bins @ 29 Dec 14:42</a></li><li><a href="#">Маленький Резиновый Свитер<span class="badge">R. Kreiger @ 28 Dec 23:05</a></li><li><a href="#">Маленький Стальной Ремень<span class="badge">T. Harris @ 27 Dec 11:04</a></li><li><a href="#">Маленький Пластиковый Автомобиль<span class="badge">C. Rogahn @ 28 Dec 23:08</a></li><li><a href="#">Грубый Хлопковый Автомобиль<span class="badge">A. Greenholt @ 19 Dec 08:33</a></li><li><a href="#">Грубый Бетонный Компьютер<span class="badge">J. Sawayn @ 21 Dec 22:08</a></li><li><a href="#">Фантастический Бетонный Стол<span class="badge">C. Bergstrom @ 26 Dec 18:13</a></li>
    </ul>

  </div>

  <div class="col-md-4">

    <h3>
      <%= I18n.t('index.new_comments') %>
    </h3>

    <ul class="nav nav-pills nav-stacked">
      <!-- "<li><a href=\"#\">#{b.content.split.take(5).join(" ")}&hellip;<span class=\"badge\">#{b.user.first_name.first}. #{b.user.last_name} @ #{b.interest.finish_reading.time.to_formatted_s(:short)}</a></li> -->
      <li><a href="#">Neque quam error. Nihil praesentium&hellip;<span class="badge">M. Langosh @ 27 Dec 22:11</a></li><li><a href="#">Dolore velit aut. Facilis minus&hellip;<span class="badge">M. Braun @ 21 Dec 01:35</a></li><li><a href="#">Nemo aspernatur et quam tenetur&hellip;<span class="badge">M. Reynolds @ 26 Dec 18:30</a></li><li><a href="#">Est nemo enim consequatur architecto&hellip;<span class="badge">N. Cronin @ 29 Dec 21:53</a></li><li><a href="#">Et voluptatem excepturi dolores eum&hellip;<span class="badge">L. Mertz @ 22 Dec 12:43</a></li><li><a href="#">Corporis sit soluta sunt aut&hellip;<span class="badge">K. Lueilwitz @ 28 Dec 18:51</a></li><li><a href="#">Cupiditate quaerat repellat amet sint&hellip;<span class="badge">H. Bergstrom @ 24 Dec 22:01</a></li><li><a href="#">Aliquam earum sunt deserunt. Occaecati&hellip;<span class="badge">D. Bayer @ 28 Dec 15:37</a></li><li><a href="#">Tempora corrupti ut maxime. Similique&hellip;<span class="badge">A. Okuneva @ 27 Dec 22:31</a></li><li><a href="#">Vel eos fugit qui dolores&hellip;<span class="badge">E. Fay @ 27 Dec 00:04</a></li>
    </ul>

  </div>

</div>
