<div class="form-group">
  <%= f.label :book_id %>
  <%= link_to I18n.t('interest.new_book'), new_book_path, :class => "pull-right" %>
  <%= f.collection_select(:book_id, Book.all, :id, :name, {}, {:class=>"form-control selectpicker", :required => true, :title => I18n.t('interest.select_books_title') }) %>
</div>

<div class="form-group">
  <%= f.label :review %>
  <%= f.text_area :review, class: "form-control", placeholder: "" %>
</div>

<div class="form-group">
  <%= f.label :start_reading %>
  <%= f.date_field :start_reading, class: "form-control", placeholder: "" %>
</div>

<div class="form-group">
  <%= f.label :finish_reading %>
  <%= f.date_field :finish_reading, class: "form-control", placeholder: "" %>
</div>