<!DOCTYPE html>
<html>
<head>
  <title>Reading</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Reading", root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if !user_signed_in? %>
        <li>
          <%= link_to I18n.t('forms.links.sign_up'), new_user_registration_path %>
        </li>
        <li>
          <%= link_to I18n.t('forms.links.sign_in'), new_user_session_path %>
        </li>
        <% else %>
        <li>
          <p class="navbar-text">
            <%= I18n.t('forms.links.signed_as') %>
            <b>
              <%= current_user.short_name %>
            </b>
          <p>
        </li>
        <li>
          <%= link_to I18n.t('forms.links.interests'), current_user %>
        </li>
        <li>
          <%= link_to I18n.t('forms.links.edit_profile'), edit_user_registration_path %>
        </li>
        <li>
          <%= button_to I18n.t('forms.buttons.sign_out'), destroy_user_session_path, method: :get, class: "btn btn-danger navbar-btn" %>
        </li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
  <% if alert -%>
    <div class="alert alert-danger" role="alert">
      <%= alert %>
    </div>
  <% end -%>

  <% if notice -%>
    <div class="alert alert-info" role="alert">
      <%= notice %>
    </div>
  <% end -%>

  <%= yield %>
</div>

<footer class="footer">
  <div class="container text-muted">&copy; Andrew Lelechenko and Tatiana Novitskaya</div>
</footer>
</body>
</html>
